body {
    font-family: 'Poppins', sans-serif;
    background-color: #C8E6C9;
}

h1 {
    font-family: 'Sedgwick Ave Display', cursive;

}

.btn-secondary {
    margin:5px;
}


.side-bar-container h2, .main-content-container h2 {
    text-transform: uppercase;
}

.side-bar {
    background-color:#388E3C;
    background-size:100vh;
    height:100vh;
    border-right:2px solid #BDBDBD;
    padding-top:30px;
}
.main-content {
    background-color: #C8E6C9;
    height:100%;
    padding-top:30px;
    overflow: scroll;
    
}

.main-content-title {
    font-family: 'Sedgwick Ave Display', cursive;
}

div#gif-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    margin:5px;
}

img.gif {
    max-width: 250px;
}


/* Media */

@media (max-width:768px) {
    .side-bar{
        height:auto;
    }
   
}